@model asp.net.nvc.charlal1.Introduction_Practical1.Models.Holiday

@{
    ViewBag.Title = "AddHoliday";
}

<h2>AddHoliday</h2>
<form action="NewHolidayForm" method="post">
<div>
<p>Holiday Name: <input type="text" name="Name" /></p>
<p>Holiday Date: <input type="date" name="Date" /></p>
<p><input type="submit" name="Add Holiday" /></p>
</div>
</form>