@model asp.net.nvc.charlal1.Introduction_Practical1.Models.Holiday

@{
    ViewBag.Title = "NewHolidayConfirm";
}

<h2>Thankyou for adding a holiday</h2>
<p>Holiday Name: @Model.Name</p>
<p>Holiday Date: @Model.Date</p>
<p>Days till holiday: @Model.Days</p>