@model asp.net.mvc.charlal1.MelbourneCupOfficeSweepstakes.Models.Race

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Race</legend>

    <div class="display-label">MoneyPool</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MoneyPool)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.RaceID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
