@{
    ViewBag.Title = "Charlal1 Home";
}

<h2>Home</h2>

<p><a href="../Home">Home</a></p>
<p><a href="../Christmas">Days to Christmas</a></p>
<p><a href="../Holiday/AddHoliday">Holiday</a></p>
<p><a href="../Holiday/FavoriteHoliday">Favorite Holiday</a></p>