@model asp.net.mvc.charlal1.MelbourneCupOfficeSweepstakes.Models.Player
           
@{
    ViewBag.Title = "Signup Result";
}

<h2>Result</h2>

<fieldset>
    <legend>Home</legend>

    @*@Html.ActionLink("Home", "SignupForm", "Home", Model, "")*@
    <div class="display-label"><a href='@Url.Content("~/Home/SignupForm")'>Home</a></div>
    
</fieldset>

<fieldset>
    <legend>Signup Result</legend>

    <p>@Html.DisplayFor(model => model.Name)</p>


    @foreach (var horse in Model.Horses)
    {
        <p>@Html.Label(horse.Name)</p>
    }
    
</fieldset>


<fieldset>
    <legend>Sweepstakes Status</legend>

    <div class="display-label"><a href='@Url.Content("~/Home/SweepstakeStatus")'>View Sweepstake Status</a></div>
    
</fieldset>