@model asp.net.mvc.charlal1.MelbourneCupOfficeSweepstakes.Models.Bet

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Bet</legend>

    <div class="display-label">Name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">NoHorses</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NoHorses)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.BetID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
