@{
    ViewBag.Title = "Index";
}

<h2>Home</h2>

<p><a href="../Home">Home</a></p>
<p><a href="../Welcome">Welcome</a></p>
<p><a href="../Welcome/ViewBagDemo">View Bag Demo</a></p>
<p><a href="../DogShow">DogShow</a></p>
<p><a href="../DogShow/ChooseDog?dogSize=small">Choose Dog Small</a></p>
<p><a href="../DogShow/ChooseDog?dogSize=large">Choose Dog Large</a></p>
<p><a href="../DogShow/ChooseDog?dogSize=tiny">Choose Dog Tiny</a></p>