/* DEFAULTS
----------------------------------------------------------*/

body   
{
    background: #EDECDA;
    font-size: 1.50em;
    font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    color: #696969;
}

a:link, a:visited
{
    color: #034af3;
}

a:hover
{
    color: #1d60ff;
    text-decoration: none;
}

a:active
{
    color: #034af3;
}

p
{
    margin-bottom: 10px;
    line-height: 1.6em;
}

h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: #666666;
    font-variant: small-caps;
    text-transform: none;
    font-weight: 200;
    margin-bottom: 0px;
}

h1
{
    font-size: 1.6em;
    padding-bottom: 0px;
    margin-bottom: 0px;
    text-indent: 50px;
    text-shadow: rgb(224, 224, 224) 1px 1px 0px;
}

h2
{
    font-size: 1.5em;
    font-weight: 600;
    text-shadow: rgb(224, 224, 224) 1px 1px 0px;
}

h3
{
    font-size: 1.2em;
    text-indent: 50px;
}

h4
{
    font-size: 1.1em;
}

h5, h6
{
    font-size: 1em;
}

.navbar
{
    z-index: 0;
    display: block;
    position:fixed;
    top: 0px;
    left: 500px;
    width: 700px;
    height:100px;
    
    padding-left: 15px;
    padding-top: 15px;
    border-top: 1px ButtonFace solid;
}

* {
    outline: none;
}

.content
{
    z-index: 0;
    display: block;
    position:fixed;
    left: 0px;
    top: 100px;
    right: 0px;
    bottom: 0px;
    
    background-color:#F6F5EB;
    border-top: 1px ButtonFace solid;
}

.table
{
    display: block;
    position:absolute;
    
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 100px;
    padding-left: 0px;
    
}

.tableHeader
{
    
    font-weight:bold;
}

.button
{
    position:relative;
    float: right; 
    margin-top: 0px;   
    
    text-shadow: rgb(224, 224, 224) 1px 1px 0px; 
    
    outline: none;
}

.add
{
    z-index: 0;
    display:block;
    float: left;
    /*margin-left: auto;
    margin-right: auto;*/
    margin-left: 50px;
    width: 450px;
    height: 400px;
    
    margin-bottom: 100px;    
}

.logo
{    
    z-index: 2;
    display:block;
    position:absolute;
    
    
    
    bottom: 0px;
    right: 0px;
    
}

.header
{
    display:block;
    position:absolute;
    left: 0px;
    right: 0px;
    top: -10px;
    
}

.panel
{
    height: 100%;
    padding-right: 0px;
}

.footer
{
    z-index: 99;
    display:block;
    position:absolute;
    
    left: 0px;
    right: 0px;
    bottom: 0px;
    
    height: 100px;
    background-color: #EDECDA;
    border-top: 1px ButtonFace solid;
    
    
    text-align:center;
    text-shadow: rgb(224, 224, 224) 1px 1px 0px;
}

