#container
{
    font-family: 'Trebuchet MS';

    width: 300px;
    height: auto;

    margin-left: auto;
    margin-right: auto;

    display: table;
    position: relative;
}

.row
{
    height: auto;
    padding: 2em;
}

#display
{    
    padding: 2em;
}

.textbox 
{    
    margin: 0 auto;
} 

#button 
{    
    margin: 0 auto;
}